body {
    padding: 0;
    margin: 0;
    width: 100%;
    color: azure;
    font-size: large;
}

.nav-bar {
    display: flex;
    background-color: #72BDA3;
    padding: 1rem;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

.nav-link {
    color: azure;
    text-decoration: none;
}

.links {
    padding-top: 1rem;
    display: inline-grid;
    width: 100%;
    grid-template-columns: 25% [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 60% [col-5];
    background-color: #72BDA3;
    
}

.links a {
    max-height: 100%;
    max-width: 50%;
    margin: auto;
}

.links img {
    max-height: 100%;
    max-width: 100%;
}

.links #linkedin {
    grid-column: 4;
    grid-row: 1;
}

.links #github {
    grid-column: 3;
    grid-row: 1;
}

.links #resume {
    grid-column: 2;
    grid-row: 1;
}

.profile-info {
    display: grid;
    height: 40%;
    width: 100%;
    grid-template-columns: 15% [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 40% [col-5] 10% [col-6];
    background-color: #72BDA3;
    padding-bottom: 10px;
}

.profile-info #headshot {
    grid-column-start: col-1;
    grid-column-end: col-4;
    max-width: 100%;
    max-height: 500px;
    border-radius: 50%;
    margin: auto;
}

.profile-info p {
    grid-column-start: col-1;
    grid-column-end: col-4;
}

.profile-info h1 {
    margin: auto;
    font-size: xxx-large;
    margin-left: 10%;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5E8C61;
    
}

.bio-text {
    text-align: center;
    max-width: 50rem;
    margin: 0 2rem 2rem 2rem;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #084C61;
    padding: 2rem min(5%, 7rem);
}

.project-info-holder {
    width: 40rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.projects {
    background-color: #084C61;
    padding: 2rem min(5%, 7rem);
}

.project {
    margin: 1rem;
    background-color: #0F084B;
}

.project-main-img {
    width: 30rem;
    height: auto;
    margin: 0 1rem 1rem 1rem;
}

.project-info-img {
    width: min(80vw, 34rem);
    height: auto;
    margin: 0 1rem 1rem 1rem;
}


@media only screen and (max-width: 600px) {
    .project-main-img {
        width: 80vw;
    }
}

.projects h1 {
    text-align: center;
}

.projects h3 {
    font-size: min(1.5rem, 15vw); 
    text-align: center;
}

footer {
    background-color: #A9714B;
    padding: 1rem;
    text-align: center;
}

.footer-text {
    margin: 0;
}